{% extends "base.html" %}

{% block title%}Portfolio{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static',filename='index.css')}}">
{% endblock %}

{% block content%}
    <div id="intro">
        <p>Hi! I'm Alexus</p>
    </div>
    <div id="buttons">
        <button class="intro-button">My resume</button>
        <a href="https://github.com/alexus-Huang" target="_blank"><button class="intro-button">My Github</button></a>
        
    </div>
    <div id="skills">
        <p>HTML</p>
        <p>CSS</p>
        <p>Python</p>
        <p>RISC-V Assembly</p>
        <p>JS</p>
    </div>
    <div id="about-me">
        <h2 id="AboutMe-title">About Me</h2>
        <p>I'm a first-year Computer Science student at UCSC with an interest in AI/ML. I started my journey in middle school and have always been ambitious to create applications for users worldwide. Since then I've learned and sharpened my knowledge on languages such as Python, HTML, CSS.</p>
        <div class="stats">
            <div id="projects-completed"></div>
        </div>
    </div>

    <!-- Projects -->
    <div id="projects">
        <h1 id="project-title">Projects</h1>
        <div class="individual-project-banner">
            <div class="project-content">
                <div class="bannerTitle">
                    <h1 class="project-title">AI Application</h1>
                </div>
                <div class="languages-used">
                    <p>Python</p>
                    <p>HTML</p>
                    <p>CSS</p>
                </div>
                <p class="project-description">This project is a web application that uses AI to help students study more efficiently. Users can input notes and generate summaries, quizzes, and flashcards.</p>
                <a href="https://github.com/alexus-Huang/ai_study_guide_app" target="_blank" class="button">View Github</a>
            </div>
            
            <img src="/static/imgs/ai_app_img.png" alt="Image showing AI Study Guide APP UI">
        </div>


        <div class="individual-project-banner">
            <div class="project-content">
                <div class="bannerTitle">
                    <h1 class="project-title">LAHVIII</h1>
                </div>
                <div class="languages-used">
                    <p>JS</p>
                    <p>HTML</p>
                    <p>CSS</p>
                </div>
                <p class="project-description">A project that was built at LAHVIII</p>
                <a href="https://github.com/alexus-Huang/LAHVIII-project" target="_blank" class="button">View Github</a>
            </div>
            
            <img src="/static/imgs/LAHVIII-img.jpg" alt="Image showing the main page of the random name generator">
        </div>


        <div class="individual-project-banner">
            <div class="project-content">
                <div class="bannerTitle">
                    <h1 class="project-title">Taoyuan Airport Pictures</h1>
                </div>
                <div class="languages-used">
                    <p>HTML</p>
                    <p>CSS</p>
                </div>
                <p class="project-description">A personal project which holds a majority of the pictures that I personally took when I visited Taipei Taoyuan International Airport during my summer break after my sophmore year.</p>
                <a href="https://github.com/alexus-Huang/Taoyuan-Airport-Pictures" target="_blank" class="button">View Github</a>
            </div>
            
            <img src="/static/imgs/taoyuanprojeft.jpg" alt="Image showing the main page of Taoyuan Aiport Pictures website">
        </div>
    </div>
{% endblock %}
